/* TAG STYLES */

html { font-family: helvetica, sans-serif; font-size: 100%; }
body { position: relative; color: #222233; background: #ffffff; }

  li { padding: 3px 0; font-size: 80%; line-height: 150%; }
pre { margin: 10px 0; font-family: monospace; color: white; }
pre code { padding: 10px 10px; }

 img { border: none; }
  td { vertical-align: top; text-align: left; }
   p { text-align: justify; font-size: 100%; line-height: 150%; margin: 0 0 1.2em 0; }
   a { text-decoration: none; color: #222; }
   a:hover { text-decoration: underline; }

/* headers */

h1, h2, h3, h4, h5, h6 { margin: 1.5em 0 1em 0; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }

/* CLASS STYLES */

.centered {
  width: 778px;
  margin: 0 auto;
}

.colorized {
  background: #fff;
  color: #333333;
}

.highlighted {
  background: #fff;
  color: #DF938A;
}

/* ID STYLES */

/* LAYOUT */

body {
  background: url(../../assets/images/samexe.jpg) center -113px no-repeat #eee;
}

/* #header */

#header { border-bottom: 1px solid #ccc; padding: 0; }
#header .title { padding: 10px 0; font-size: 20px;  height: 145px; vertical-align: absmiddle; }
#header .title h1 { font-size: 100px; font-weight: bold; margin-top: 36px; }
#header .title h1 { color: #211; }
#header .title pre { background: transparent; }

/* #nav */

#nav { padding: 0 10px 0 40px; text-align: left; }
#nav ul { list-style-type: none; margin: 0px; padding: 0px; width: 100%; position: relative; }
#nav ul li { margin: 0 1px 10px 0; line-height: 16px; white-space:nowrap; }
#nav ul li a { border-top: 0 solid; }
#nav { text-align: right; }
#nav ul li a { font-family: monospace; font-weight: bold; text-decoration: none; font-size: 25px; }
#nav ul li a:hover { text-decoration: strike; color: #222; }
#nav ul li a:active { text-decoration: underline; }
#nav ul { background: transparent; }
#nav ul li a { color: #777; border-color: #DF938A; }

/* #main */

.main { padding: 30px 0 30px 0; background: white; }
.main { border-bottom: 1px solid #ccc; }
.main a { font-size: 100%; }
.main a:hover { text-decoration: underline; }
.main h2 { font-size: 2em; font-weight: bold; }
.main h3 { font-style: italic; }

/* #doc */

#doc { font-family: helvetica, sans-serif; font-weight: bold; line-height: 150%; padding-right: 20px; }
#doc a { color: #777; }
#doc a:hover { }
#doc p { font-weight: normal; font-size: 150%; }
#doc h2 { color: #5F140A; border-color: #DF938A; }
#doc h3 { border-color: #DF938A; }
#doc pre { padding: 0 0 0 0; font-size: 1.5em; margin: -20px 0 0 0; text-align: center; }

#readme { margin-top: 0; padding-top: 20px; background: #eee; }
#readme ol, ul { list-style: square; margin-left: 24px; }
/* #footer */

#footer { margin-top: 390px; padding: 0; background: white; }
#footer .advert { border: 1px solid :eee; }
#footer .copyright { margin: 0 0 0 1px; padding: 15px; font-size: 0.7em; color: #eee; font-weight: bold; background: #f40; }

